/*RESPONSIVE*/

/*IPHONE 6 & DOWN*/
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

	#bigName {
		font-size: 10px !important;
	}
}

/*DESKTOP/LAPTOP*/

/*GENERAL*/
body {
	background-image: url(../images/trees.jpeg);
	background-color: #D7DEE2;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.row {
	margin-right: 0;
	margin-left: 0;
}
.container-fluid {
	padding: 0;
}
.col-md-12 {
	text-align: center;
}

/*HEADER TITLE CONTENT*/

.col-md-12 h1 {
	font-size: 10em;
	font-weight: 100;
	color: #242A31;
}

/*TOP PANEL FOR SUMMARY INFO*/

/*LINKS BAR*/

#links {
	text-align: center;
}
#links a {
	font-family: 'Avenir', Arial, sans-serif;
	font-weight: 500;
	font-size: 1em;
	color: black;
}
#links a:hover {
	cursor: pointer;
}
#links p {
	font-size: 2em;
	font-weight: 200;
}

/*PROFILE IMAGE*/

.mugShot {
	border-radius: 50%;
	border: 3px solid rgb(74, 74, 74);
	width: 150px;
	height: 150px;
	z-index: 1;
}
.row.mugShotContainer {
	margin-top: -60px;
	text-align: center;
}

/*SUMMARY TEXT CONTENT*/

.row.summaryPanel {
	margin-top: 50vh;
	background-color: #242A31;
	border-top: 3px solid rgb(74, 74, 74);
}
.row #summaryTitle {
	text-align: center;
	font-family: 'Avenir', Arial, sans-serif;
	color: white;
	font-size: 5em;
	font-weight: 100;
}
#summary {
	margin-top: 5%;
	margin-bottom: 10%;
	font-size: 2.5em;
	font-weight: 100;
	color: white;
}

/*PROJECT PANEL UNDERNEATH SUMMARY PANEL*/

.row.topPanel {
	position: relative;
	margin-top: 100px;
	background-color: #242A31;
	border-top: 3px solid rgb(74, 74, 74);
}
.project img {
	width: 100%;
}
.project {
	margin-top: 20px;
	margin-bottom: 60px;
	border: 1px solid black;
	border-radius: 3px;
	background-color: black;
	box-shadow: 10px 10px 10px black;
}
.projectLink {
	background-color: rgb(235, 235, 235);
	padding: 5%;
	width: 100%;
	border-top: 1px solid black;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.projectTitle {
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 10px;
}
.topPanel p {
	text-align: center;
	font-family: 'Avenir', Arial, sans-serif;
	color: white;
	font-size: 5em;
	font-weight: 100;
}
.col-md-4 {
	text-align: center;
	height: 100%;
}

/*jQuery Specific Classes*/

.focused {
	font-size: 25px;
	color: white;
	font-weight: 300;
}
.selected {
	border: 3px solid grey;
}
