body {
	/*position: relative;*/
	background-image: url(../images/trees.jpeg);
	background-color: #D7DEE2;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	/*z-index: -2;*/
	/*width: 100%;*/
}
.row {
	margin-right: 0;
	margin-left: 0;
}
.container-fluid {
	padding: 0;
}
.col-md-12 {
	text-align: center;
}
.col-md-12 h1 {
	font-size: 10em;
	font-weight: 100;
	color: #242A31;
}


					/*TOP PANEL FOR SUMMARY INFO*/


						/*PROFILE IMAGE*/

.mugShot {
	/*position: relative;*/
	border-radius: 50%;
	border: 3px solid rgb(74, 74, 74);
	width: 150px;
	height: 150px;
	z-index: 1;
}
.mugShot:hover {
	transition: transform .5s;
	transform: scale(2, 2);
}
.row.mugShotContainer {
	margin-top: -50px;
	text-align: center;
}
/*.mugShotContainer {
	width: 100%;
	text-align: center;
	margin-top: 78vh;
	/ z-index: 1; /
}*/


							/*SUMMARY TEXT CONTENT*/


/*.summaryPanel {
	position: relative;
	margin-top: -70px;
	/*top: 90vh;*/
	/*z-index: -1;*/
	/*height: 100vh; /
	width: 100%;
	background-color: #242A31;
	border-top: 3px solid rgb(74, 74, 74);
}*/

.row.summaryPanel {
	margin-top: 55vh;
	background-color: #242A31;
	border-top: 3px solid rgb(74, 74, 74);
}

.row #summaryTitle {
	text-align: center;
	/*margin-top: 80px;*/
	/*margin-bottom: 450px;*/
	font-family: 'Avenir', Arial, sans-serif;
	color: white;
	font-size: 5em;
	font-weight: 100;
}
#summary {
	margin-top: 5%;
	margin-bottom: 10%;
	font-size: 3em;
	color: white;
	font-weight: 100;
}


/*PROJECT PANEL UNDERNEATH SUMMARY PANEL*/

.row.topPanel {
	position: relative;
	margin-top: 100px;
	background-color: #242A31;
	border-top: 3px solid rgb(74, 74, 74);
}
.project img {
	width: 100%;
}
.project {
	margin-top: 20px;
	margin-bottom: 60px;
	border: 1px solid black;
	border-radius: 3px;
	background-color: black;
}
.projectLink {
	background-color: white;
	padding: 5%;
	width: 100%;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.projectTitle {
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 10px;
}
.topPanel p {
	text-align: center;
	font-family: 'Avenir', Arial, sans-serif;
	color: white;
	font-size: 5em;
	font-weight: 100;
}
.col-md-4 {
	text-align: center;
	height: 100%;
}


/*MIDDLE PANEL FOR EDUCATION INFO*/

.midPanel {
	position: relative;
	margin-top: 100px;
	z-index: -1;
	height: 100vh;
	width: 100%;
	background-color: #242A31;
}
.midPanel p {
	margin-top: 0;
	text-align: center;
	font-family: 'Avenir', Arial, sans-serif;
	color: white;
	font-size: 5em;
	font-weight: 100;
}
.midPanel .education {
	color: white;
	font-size: 2em;
}


/*BOTTOM PANEL FOR EMPLOYMENT INFO*/

.bottomPanel {
	position: relative;
	margin-top: 30px;
	margin-bottom: 100px;
	z-index: -1;
	height: 100vh;
	width: 100%;
	background-color: #242A31;
}
.bottomPanel p {
	text-align: center;
	font-family: 'Avenir', Arial, sans-serif;
	color: white;
	font-size: 5em;
	font-weight: 100;
}
.bottomPanel .employment {
	color: white;
	font-size: 2em;
}


/*jQuery Specific Classes*/

.focused {
	font-size: 25px;
	color: white;
	font-weight: 300;
}
.selected {
	border: 3px solid grey;
}
